<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            expert-flag="false"
            factory-class="org.knime.knip.imagej2.headless.nodes.reader.IJMemoryReaderNodeFactory"
            id="org.knime.knip.imagej2.headless.nodes.reader.IJMemoryReaderNodeFactory">
      </node>
      <node
            expert-flag="false"
            factory-class="org.knime.knip.imagej2.headless.nodes.writer.IJMemoryWriterNodeFactory"
            id="org.knime.knip.imagej2.headless.nodes.writer.IJMemoryWriterNodeFactory">
      </node>
   </extension>
</plugin>
